<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @import } %>

<% content_for :page_title do %>
    <%= link_to Spree.t(:products), spree.admin_products_url %> /
    <%= Spree.t(:import_products) %>
<% end %>

<%= form_for :admin, url: {controller: 'imports', action: 'create'}, html: { multipart: true } do |f| %>
    <fieldset data-hook="new_import">
      <%= f.field_container :file, class: ['form-group'] do %>
          <%= f.label :file, Spree.t(:file) %> <span class="required">*</span>
          <%= file_field_tag :file,
                           accept: '.csv',
                           class: 'form-control title',
                           required: :required
          %>
          <%= f.error_message_on :file %>
      <% end %>
    </fieldset>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:import), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:uploading) }..." }} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_imports_url, icon: 'remove' %>
    </div>
<% end %>